.banner {
  background-color: var(--color-charcoal);
  color: rgba(234,234,234,.15);
}

.banner span {
  color: var(--color-charcoal-light);
}

.banner .fs {
  color: rgba(234,234,234,.15);
}

.banner-content h1 {
  font-weight: 400;
  font-size: 7.4506rem;
  line-height: 9.75rem;
}

@media only screen and (min-width: 25em) {

  .banner-content h1 {

    font-size: 9.3132rem;
    line-height: 12.375rem;
  }

}
