footer {
  background-color: var(--color-charcoal);
  width: 100%;
  color: var(--color-charcoal-light)
}

.talk {
  border-top: solid 3px var(--color-charcoal-light);
}

.talk h1 {
  font-family: var(--font-secondary);
  font-size: 3em;
  line-height: 3rem;
  padding-top: .5em;
  left: -10em;
  hyphens: auto;
}

.talk a {
  font-family: var(--font-secondary);
  color: var(--color-charcoal-light);
  font-weight: 100;
  border: none;
}

footer p {
  color: var(--color-cement);
}

@media only screen and (min-width: 25em) {

  .talk h1 {
    font-family: var(--font-secondary);
    font-size: 6em;
    line-height: 6rem;
    padding-top: .5em;
    left: -10em;
    hyphens: auto;
  }

}
