:root {
  --color-charcoal: #2c2c2c;
  --color-charcoal-light: #6f6f6f;
  --color-cement: #d3d3d3;
  --color-cement-light: #eaeaea;
  --color-sea: #105f50;
  --color-white: #fff;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Gayathri", sans-serif;
}

html {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 200;
  widows: 2;
  orphans: 2;
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-weight: 100;
}

h4, h5 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
}

h6 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 300;
}


ul, ol, dl {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 200;
}

dt {
  font-weight: 600;
}

dd {
  font-weight: 300;
}

mark {
  background-color: var(--color-cement-light);
}

a {
  color: var(--color-sea);
}

p {
  font-weight: 200;

}

.btn a {
  font-family: var(--font-secondary);
  font-weight: 700;
}

.nav-bottom {
  text-align: left;
}

.nav-bottom li:first-child {
  padding-left: 0;
}

.nav-bottom a {
  text-decoration: none;
}
