:root {
  --color-charcoal: #2c2c2c;
  --color-charcoal-light: #6f6f6f;
  --color-cement: #d3d3d3;
  --color-cement-light: #eaeaea;
  --color-teal: #105f50;
  --color-rust: #8b3f23;
  --color-white: #fff;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Gayathri", sans-serif;
}

html {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 200;
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  font-style: 400l;
}

h4, h5 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
}

h6 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
}


ul, ol, dl {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 200;
}

dt {
  font-weight: 500;
}

mark {
  background-color: var(--color-cement-light);
}

a {
  color: var(--color-teal);
}

p {
  font-weight: 200;
}
