<div class="elements pad-b-2">
  <div class="grid gutter pad-b">
    <div class="unit xs-1 l-1-2 gutter-1-8">
      <div class="island">
        <h6 class="unit xs-1 text-center push-0 milli">Palette</h6>
        {% include sections/preview-img.html image=page.image-e1 %}
      </div>
    </div>

    <div class="unit xs-1 l-1-2 gutter-1-8">
      <div class="island">
        <h6 class="unit xs-1 text-center push-0 milli">Typogaphy</h6>
        {% include sections/preview-img.html image=page.image-e2 %}
      </div>
    </div>
  </div>
</div>
