<section class="work-preview pad-b-2">
  <div class="">{% include sections/preview-img.html image=include.image %}</div>

  <div class="preview-content pad-b gutter-2 wrapper">
    <div class="gutter-2 pad-t-2">
      <h1 class="tera push-0">{{include.title}}</h1>
      <div>
        <div class="preview-title push-1-2">
          <span class="milli project-kind {{include.details-color}}"
            >{{include.details}}</span
          >
        </div>
        <div class="preview-intro">
          <p class="milli push-1-8 max-length-no-center">
            {{include.description}}
          </p>
        </div>
        <div class="">
          {% include buttons/btn-work.html url=include.data.url
          text-color=include.data.text-color
          btn-work-shadow=include.data.btn-work-shadow %}
        </div>
      </div>
    </div>
  </div>
</section>
