footer {
  background-color: var(--color-charcoal);
  width: 100%;
  color: var(--color-charcoal-light)
}

.talk {
  border-top: solid 3px var(--color-charcoal-light);
}

.talk p {
  font-family: var(--font-secondary);
  font-size: 6em;
  line-height: 6rem;
  padding-top: .5em;
  left: -10em;
  hyphens: auto;
}

.talk a {
  font-family: var(--font-secondary);
  color: var(--color-charcoal-light);
  font-weight: 100;
  border: none;
}

.terms, nav a {
  color: var(--color-cement-light);
}

footer nav a:hover {
  color: var(--color-sea);
}
