footer {
  background-color: var(--color-charcoal);
  width: 100%;
  color: var(--color-cement)
}

.talk p {
  font-family: var(--font-secondary);
  font-size: 5rem;
  line-height: 5rem;
  border-top: solid 2px var(--color-cement);
  padding-top: .5em;
  left: -10em;
}

.talk a {
  font-family: var(--font-secondary);
  color: var(--color-charcoal-light);
  font-weight: 100;
  border: none;
}

.terms, nav a {
  color: var(--color-cement-light);
}

footer nav a:hover {
  color: var(--color-sea);
}
