.link-box {
  margin-left: -5px;
}

.btn {
  z-index:1000;
  border: solid 2px;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: Transparent;
  border-radius: 50px;
  padding-top: .475em;
  padding-bottom: 1.5em;
  transition: .25s ease-in-out;
  font-family: var(--font-secondary);

}

.btn-shadow {
  top: 7px;
  right: -3px;
  border-radius: 50px;
  height: 160%;
  width: 112%;
  transition: all .25s ease-in-out;
}

.link-box:hover .btn {
  transform: translate(2px, -5px);
}

.link-box:hover .btn-shadow {
  transform: translateY(-1px, 5px);
  height: 160%;
  width: 112%
}

.btn-container{
  display: flex;
  width: 150px;
  height: 40px;
}

.btn-basic {
    color: var(--color-sea);
    font-family: var(--font-secondary);
}

.btn-basic-shadow {
  background-color: rgba(16,95,80,.3);
  box-shadow: 0 0 12px 12px var(--color-cement) inset;
}

.btn-natures-care {
  color: #56756f;
}

.btn-natures-care-shadow {
  background-color: rgba(86,117,111,.3);
  box-shadow: 0 0 12px 12px var(--color-cement) inset;
}

.link-box:hover .btn-natures-care {
  background-color: rgba(86,117,111,.2);
  border: solid 2px #56756f;
  color: #56756f;
}

.btn-work .kern-o {
  letter-spacing: -2px;
}

.btn-mindu {
  color: #433cce;
}

.btn-mindu-shadow {
  background-color: rgba(67,60,206,.3);
  box-shadow: 0 0 12px 12px var(--color-cement) inset;
}

.link-box:hover .btn-mindu {
  background-color: rgba(67,60,206,.2);
  border: solid 2px #433cce;
  color: #433cce;
}

.btn-physicians-formula {
  color: #85875f;
}

.btn-physicians-formula-shadow {
  background-color: rgba(133,135,95,.3);
  box-shadow: 0 0 12px 12px var(--color-cement) inset;
}

.link-box:hover .btn-physicians-formula {
  background-color: rgba(133,135,95,.2);
  border: solid 2px #85875f;
  color: #85875f;
}

.link-box:hover .btn-basic {
  background-color: rgba(16,95,80,.2);
  border: solid 2px var(--color-sea);
  color: var(--color-sea);
}

.link-box:hover .btn-basic-shadow {
  background-color: rgba(16,95,80,.2);
}

.btn-glow {
    color: var(--color-cement-light);
    font-family: var(--font-secondary);
}

.btn-glow {
    color: var(--color-cement);
    font-family: var(--font-secondary);
}

.btn-glow-shadow {
  background-color: rgba(234,234,234,.2);
  box-shadow: 0 0 12px 12px var(--color-charcoal) inset;
}

.link-box:hover .btn-glow {
  background-color: rgba(234,234,234,.2);
  border: solid 2px var(--color-cement-light);
  color: var(--color-cement-light);
}

.link-box:hover .btn-glow-shadow {
  background-color: rgba(234,234,234,.1);
}
