header {
  background-color: var(--color-charcoal);
}

header a {
  font-family: var(--font-secondary);
  text-decoration: none;
  color: var(--color-cement);

  transition: all .25s ease-in-out;
}

.site-title a,
.site-title-light a {
  font-weight: 100;
  padding-right: .75em;
}

nav a {
  padding-top: 7px;
  font-weight: 100;
}

header nav a:active {
  border-top: solid 3px var(--color-sea);
}

.header-light {
  background-color: var(--color-cement);
}

.site-title-light a,
.header-light a {
  color: #000;
}

@media only screen and (min-width: 38em) {

  header .site-title,
  header .site-title-light{
    text-align: left;
  }

  nav ul {
    text-align: right;
  }
}

header nav a:hover {
  color: var(--color-charcoal-light);
  border-top: solid 3px var(--color-sea);
  text-shadow: 0px 25px 15px var(--color-sea);
}
