<header role="banner" class="pad-t pad-b gutter-2" tabindex="0">
  <div class="header-content grid grid-middle gutter-2">


    <div class="th unit xs-1 m-1-2 text-center">
      <a href="#">
        <i class="icon i-72 island">
          <img class="pad-b-1-2" src="/images/logo-sea-w.svg" alt="">
        </i>
        <span class="icon-label mega gutter-1-8">treawna harvey</span>
      </a>
    </div>

    <nav class="unit xs-1 m-1-2 text-center" role="navigation" id="nav" tabindex="0">
      <ul class="list-group list-group-inline push-0">
        <li class="unit gutter-1-2 {% if page.highlight_nav == 'work' %}current{% endif %}"><a class="kilo pad-b-1-8" href="#">work</a></li>
        <li class="unit gutter-1-2 {% if page.highlight_nav == 'about' %}current{% endif %}"><a class="kilo pad-b-1-8" href="#">about</a></li>
        <li class="unit gutter-1-2 {% if page.highlight_nav == 'contact' %}current{% endif %}"><a class="kilo pad-b-1-8" href="#">contact</a></li>
      </ul>
  </nav>
  </div>
</header>
