.hello {
  background-color: var(--color-charcoal);
  color: var(--color-cement);
}

.hello-intro {
  padding-top: 1em;
  border-top: solid 2px var(--color-cement);
  hyphens: auto;
}

.contact {
  background-color: var(--color-charcoal);
  color: var(--color-cement-light);
}

.contact h1 {
  font-weight: 100;
}

.work-preview {
  background-color: var(--color-cement);
}

.work-preview h1 {
  font-weight: 600;
  margin-bottom: -.25em;
}

.project-kind {
  color: var(--color-sea);
  font-weight: 400;
}

preview-content {
  top: -10em;
}

.work-about {
  background-color: var(--color-cement);
  hyphens: auto;
}

.work-about ul li::before {
  content: "\2022";
  font-weight: 800;
  color: var(--color-sea);
}

.img-full,
.img-half {
  background-color: var(--color-cement);
}

@media only screen and (min-width: 38em) {

  .preview-intro {
    padding-left: 1em;
  }

}

@media only screen and (min-width: 60em) {

  .preview-intro {
    padding-left: 3em;
  }

}

@media only screen and (min-width: 90em) {

  .preview-intro {
    padding-left: 3em;
  }

}
