<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

  {% pattern header/header-light %}
  {% pattern sections/work-title title=page.name project-colour=page.project-colour details=page.details  %}
  {% pattern sections/preview-img image=page.image-banner %}
  {% pattern sections/work-about project-colour=page.project-colour description=page.description client=page.client deliverables=page.deliverables%}
  {% pattern sections/work-section heading="Ideation" %}
  <div class="grid">
    <div class="unit xs-1 m-1-2">
      {% pattern sections/image-full image=page.image-i1 %}
    </div>
    <div class="unit xs-1 m-1-2">
      {% pattern sections/image-full image=page.image-i2 %}
    </div>
    <div class="unit xs-1">
      {% pattern sections/image-full image=page.image-1 %}
    </div>
    <div class="unit xs-1">
      {% pattern sections/image-full image=page.image-2 %}
    </div>
  </div>
  <div class="grid">
    <div class="unit xs-1">
      {% pattern sections/image-full image=page.image-3 %}
    </div>
    <div class="unit xs-1">
      {% pattern sections/image-full image=page.image-4 %}
    </div>
    <div class="unit xs-1">
      {% pattern sections/image-full image=page.image-5 %}
    </div>
  </div>


  {% pattern footer/footer %}

</body>
</html>
