<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

  {% pattern header/header %}
  {{content}}
  {% pattern footer/footer text="want to talk about it?" %}

</body>
</html>
